---
import Imagen2 from "../components/Imagen2.astro";
import Images from "../components/Images.astro";
import Button from "../components/Button.astro";
---

<div>
  <Images />
  <Imagen2 />
  <Button button_text="Partner" />
</div>
