---
import Imagen2 from "../components/Imagen2.astro";
import Images from "../components/Images.astro";
import Button from "../components/Button.astro";
---

<div class="flex flex-row place-content-center flex-wrap">
  <Images />
  <Imagen2 />
</div>
<div class="flex flex-col gap-4 container md:container md:mx-auto">
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  <Button button_text="Button" />
</div>
