---
import marranoenpatineta from "../assets/marranoenpatineta.jpg";
---

<div class="flex justify-center min-h-dvh items-center">
  <img
    src={marranoenpatineta.src}
    alt="marranoenpatineta"
    width={marranoenpatineta.width}
    height={marranoenpatineta.height}
    class="size-100 m-2"
  />
</div>
