<div class="flex justify-center">
  <h1
    class="text-3xl font-playwrite font-extrabold text-transparent bg-linear-to-r/oklch from-sky-500 via-blue-500 to-red-600 bg-clip-text py-4"
  >
    Gordanita Bella & perezosa!
  </h1>
</div>
